#nav-container a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  border-radius: 10px;
  background-color: #2a526b;
  margin: 0 30px 0 30px;
  padding: 10px 0 10px 0;
}

header {
  background-color: #282c2f;
}

#nav-container a:hover {
  font-weight: bold;
}

#process-btn {
  background-color: #2a526b;
  padding: 10px 20px 10px 20px;
  font-size: 24px;
}

.I-LOC, .I-PER, .I-MISC, .I-ORG {
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
}

.I-LOC {
  background-color: red;
}

.I-PER {
  background-color: blue;
}

.I-MISC {
  background-color: green;
}

.I-ORG {
  background-color: orange;
}

.legend {
  margin-top: 1em;
  margin-bottom: 1em;
}

.legend-item {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 1em;
  margin-right: 1em;
}

#classifier-label, #classifier-select {
  margin-top: 1em;
  margin-left: 20px;
  margin-right: 20px;
}

#classifier-label {
  color: white;
}
