#main-container {
  margin-top: 2em;
}

#processed-text {
  margin-top: 2em;
}

.btn-custom-dark {
  background-color: #343a40;
  color: white;
  font-size: 18px;
  margin-top: 2em;
}

.btn-custom-dark svg {
  margin-right: 5px;
  margin-left: 10px;
}
