#processed-text {
  border: 2px solid grey;
  overflow: scroll;
  max-height: 400px;
}


#main-ctn {
  margin-top: 2em;
  height: 400px;
}

#text-area, form, #form-row {
  height: 100%;
}

.btn-custom-dark {
  background-color: #343a40;
  color: white;
  font-size: 18px;
  margin-top: 2em;
}

.btn-custom-dark svg {
  margin-right: 5px;
  margin-left: 10px;
}
