.btn-custom-dark {
  background-color: #343a40;
  color: white;
  font-size: 18px;
  margin-top: 2em;
}

.btn-custom-dark svg {
  margin-right: 5px;
  margin-left: 10px;
}

#main-container {
  margin-top: 2em;
}

.processed-text {
  margin-top: 2em;
}

iframe {
  width: 100%;
  height: 500px;
}

.classifier-label {
  color: white;
  margin-top: 1em;
}

.classifier-label, #classifier-select {
  margin-left: 20px;
  margin-right: 20px;
}
