<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/base.css') }}">
    {% endblock %}
  </head>

  <body>
    <header>
      <section class="pt-5 pb-5 inner-header">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1 class="mt-0 mb-3 text-white">NER Processing Online</h1>
            </div>
          </div>
        </div>
        <div id="nav-container" class="container text-center">
          <div class="row">
            <a class="col-sm" href="file">File</a>
            <a class="col-sm" href="/">Plain Text</a>
            <a class="col-sm" href="url">URL</a>
          </div>
        </div>
        <div class="container text-center">
          <div class="row ">
            <label class="classifier-label" for="classifier-select" id="classifier-label">Select the classifier to use :</label>
            <select name="classifier-select" class="form-control" id="classifier-select">
              <option value="RandomForestclassifier">RandomForestclassifier</option>
              <!-- <option value="SVMclassifier">SVMclassifier</option>-->
              <option value="GaussianNBclassifier">GaussianNBclassifier</option>
            </select>
          </div>
        </div>
      </section>

    </header>

    <main>
      {% block main %}
      <div class="container text-center">
        <div class="legend row">
          <div class="legend-item I-LOC col-sm">
            <span>I-LOC</span>
          </div>
          <div class="legend-item I-PER col-sm">
            <span>I-PER</span>
          </div>
          <div class="legend-item I-MISC col-sm">
            <span>I-MISC</span>
          </div>
          <div class="legend-item I-ORG col-sm">
            <span>I-ORG</span>
          </div>
        </div>
      </div>
      {% endblock %}
    </main>

    {% block scripts %}
      <script
  			  src="https://code.jquery.com/jquery-3.4.1.min.js"
  			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  			  crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='assets/js/base.js') }}"></script>
    {% endblock %}
  </body>
</html>
