{% extends "base.html" %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/file.css') }}">
{% endblock %}

{% block main %}
  {{ super() }}
  <form enctype="multipart/form-data" method="post">
    <div id="main-container" class="container">
        <input name="file" type="file" class="form-control-file" id="file-input">
    </div>

    <div id="processed-text" class="container">
      {{ data | safe}}
    </div>

    <div class="container text-center">
      <button id="process-btn" type="submit" class="btn btn-custom-dark">Process<i class="fas fa-cogs"></i></button>
    </div>
  </form>
{% endblock %}
