{% extends "base.html" %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/plain.css') }}">
{% endblock %}

{% block main %}
  {{ super() }}
  <div id="main-ctn" class="container">
    <form method="post" enctype="multipart/form-data">
      <div id="form-row" class="row">
        <div class="col-md">
            <textarea name="textarea" class="form-control" id="text-area" ></textarea>
        </div>
        <div id="processed-text" class="col-md">
          <div class="text-content">{{ data | safe }}</div>
        </div>
      </div>

      <div class="container text-center">
        <button id="process-btn" type="submit" class="btn btn-custom-dark">Process<i class="fas fa-cogs"></i></button>
      </div>
    </form>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
