{% extends "base.html" %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/url.css') }}">
{% endblock %}

{% block main %}
  {{ super() }}
  <div id="main-container" class="container">
    <form enctype="multipart/form-data" method="post">
      <div class="col-md">
          <textarea name="html-text" class="form-control" id="text-area" ></textarea>
      </div>

      <div class="processed-text">
        {{ html_text | safe }}
      </div>

      <div class="container text-center">
        <button id="process-btn" type="submit" class="btn btn-custom-dark">Process<i class="fas fa-cogs"></i></button>
      </div>
    </form>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='assets/js/url.js') }}" type="text/javascript"></script>
{% endblock %}
